<mat-nav-list fxLayout="column" fxLayoutGap="20px">
    <a *ngIf="true" mat-list-item routerLink="signup" (click)="closeSideNav()">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Signup</span>
    </a>
    <a *ngIf="true" mat-list-item routerLink="login" (click)="closeSideNav()">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Login</span>
    </a>
    <a *ngIf="true" mat-list-item routerLink="dashboard" (click)="closeSideNav()">
        <mat-icon>dashboard</mat-icon>
        <span class="nav-caption">Dashboard</span>
    </a>
    <mat-list-item *ngIf="true">
        <button mat-icon-button (click)="logout()">
            <mat-icon>eject</mat-icon>
            <span class="nav-caption">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>